---
import HeaderLink from "./HeaderLink.astro";
import { SITE_TITLE } from "../consts";
---

<header>
  <div class="mx-auto max-w-screen-sm">
    <div class="flex flex-wrap gap-y-2 justify-between">
      <a
        href="/"
        target="_self"
        class="inline-block decoration-black/15 dark:decoration-white/30 hover:decoration-black/25 hover:dark:decoration-white/50 text-current hover:text-black hover:dark:text-white transition-colors duration-300 ease-in-out"
      >
        <div class="font-semibold">KUNJAN SHAH</div>
      </a>
      <nav class="flex gap-1">
        <a
          href="/blog"
          target="_self"
          class="inline-block decoration-black/15 dark:decoration-white/30 hover:decoration-black/25 hover:dark:decoration-white/50 text-current hover:text-black hover:dark:text-white transition-colors duration-300 ease-in-out underline underline-offset-2"
        >
          blog
        </a>
        <span> / </span>
        <a
          href="/work"
          target="_self"
          class="inline-block decoration-black/15 dark:decoration-white/30 hover:decoration-black/25 hover:dark:decoration-white/50 text-current hover:text-black hover:dark:text-white transition-colors duration-300 ease-in-out underline underline-offset-2"
        >
          work
        </a>
        <span> / </span>
        <a
          href="/projects"
          target="_self"
          class="inline-block decoration-black/15 dark:decoration-white/30 hover:decoration-black/25 hover:dark:decoration-white/50 text-current hover:text-black hover:dark:text-white transition-colors duration-300 ease-in-out underline underline-offset-2"
        >
          projects
        </a>
      </nav>
    </div>
  </div>
</header>
